
*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    background-color: mediumaquamarine;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: aquamarine;
}
.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: aquamarine;
    color: cadetblue;
}
.column .side {
    width: 25%;
}
.column .middle {
    width: 50%;
}
.row:after{
    content: "";
    display: table;
    clear: both;    
}
footer {
    padding-right: 20px;
    overflow: hidden;
    
}